## Here is where the magic happens

In [7]:
import pandas as pandas
import os
import sys
import json
import numpy as np
import math
import random
import matplotlib.pyplot as plt
from IPython.display import clear_output
from ipywidgets      import Dropdown
from bqplot          import Lines, Figure, LinearScale, DateScale, Axis
from ipyleaflet      import Map, GeoJSON, WidgetControl
from ipywidgets import IntSlider, ColorPicker, jslink
%matplotlib inline
sys.path.append(os.getcwd() + '/modules')
from zansModule import read_population_by_sex


with open('../podatki/countries.geo.json') as f:
    countries = json.load(f)

m = Map(zoom=3)

geo = GeoJSON(data=countries, style={'fillColor': 'white', 'weight': 0.5}, hover_style={'fillColor': '#1f77b4'}, name='Countries')
year_slider = IntSlider(description='Year:', min=2015, max=2020, value=2018)
widget_control1 = WidgetControl(widget=year_slider, position='topright')
m.add_control(widget_control1)



def click_handle(event=None, feature=None, **kwargs): # must be none if none is given
    if feature is not None:
        year = year_slider.value
        clear_output(True)
        display(m)
        print("Leto " + str(year) + "\nDrzava: " + kwargs['properties']['name'])
        # country_name = kwargs['properties']['name']
        # print("Selected country: " + country_name)
        #display_data_for_country(country_name, 2017)

geo.on_click(click_handle)
m.add_layer(geo)
display(m)

Map(center=[0.0, 0.0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_t…

In [8]:
read_population_by_sex()

,Region-Country,Date,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,...,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+,population_sum,avg_age
0,Africa,1950,38570.006,29731.187,25895.873,23160.517,20232.877,17334.292,14833.647,12573.788,...,3372.688,2188.278,1146.707,492.567,148.398,32.791,4.784,0.479,227794.137,23.156344
1,Africa,1955,43883.545,33807.548,28487.876,25043.646,22163.505,19185.191,16369.883,13948.294,...,3684.935,2350.694,1248.587,485.261,136.926,24.977,3.089,0.266,252748.917,22.954231
2,Africa,1960,50001.912,39153.316,32458.076,27441.095,23973.098,21179.575,18273.764,15515.788,...,4106.665,2617.307,1389.687,553.739,144.819,24.023,2.477,0.196,283361.171,22.753497
3,Africa,1965,57089.406,45184.054,37876.022,31386.507,26281.319,22872.148,20208.800,17365.514,...,4678.297,2961.375,1580.580,640.309,173.279,27.053,2.519,0.162,320147.295,22.536308
4,Africa,1970,64741.003,52197.845,43849.161,36720.459,30221.201,25215.025,21896.869,19209.932,...,5238.590,3425.422,1816.213,739.247,207.920,33.973,3.028,0.180,363447.593,22.341624
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3550,United States of America,2000,19564.581,20848.010,20726.790,19933.999,19035.832,19285.351,20613.646,22575.074,...,9449.882,8781.491,7379.113,5009.830,2664.637,1128.346,291.880,40.317,281710.914,35.702555
3551,United States of America,2005,20270.037,19760.522,21567.434,21569.506,20613.060,19415.936,19694.371,20859.991,...,10318.853,8541.184,7401.155,5407.756,3098.102,1192.909,313.645,45.146,294993.509,36.381054
3552,United States of America,2010,20890.229,20653.952,20890.969,22196.965,21740.559,20775.126,19862.177,19986.353,...,12254.957,9371.617,7276.401,5803.018,3523.414,1478.935,354.430,52.394,309011.469,37.168480
3553,United States of America,2015,19935.462,21002.185,20747.123,21410.064,23088.094,22552.311,21343.051,20197.075,...,15702.362,11189.895,8117.691,5754.212,3904.879,1778.474,473.166,65.163,320878.312,38.136485
3554,United States of America,2020,19676.332,20045.152,21089.487,21242.908,22258.745,23835.330,23052.479,21615.791,...,17819.027,14354.863,9727.734,6461.202,3911.104,2051.136,626.636,97.104,331002.647,39.108037